@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue/bebasneue_bold.eot');
    src: url('fonts/BebasNeue/bebasneue_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue/bebasneue_bold.woff2') format('woff2'),
         url('fonts/BebasNeue/bebasneue_bold.woff') format('woff'),
         url('fonts/BebasNeue/bebasneue_bold.ttf') format('truetype'),
         url('fonts/BebasNeue/bebasneue_bold.svg#bebas_neuebold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue/bebasneue_regular.eot');
    src: url('fonts/BebasNeue/bebasneue_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue/bebasneue_regular.woff2') format('woff2'),
         url('fonts/BebasNeue/bebasneue_regular.woff') format('woff'),
         url('fonts/BebasNeue/bebasneue_regular.ttf') format('truetype'),
         url('fonts/BebasNeue/bebasneue_regular.svg#bebas_neueregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue/bebasneue_thin.eot');
    src: url('fonts/BebasNeue/bebasneue_thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue/bebasneue_thin.woff2') format('woff2'),
         url('fonts/BebasNeue/bebasneue_thin.woff') format('woff'),
         url('fonts/BebasNeue/bebasneue_thin.ttf') format('truetype'),
         url('fonts/BebasNeue/bebasneue_thin.svg#bebas_neuethin') format('svg');
    font-weight: 100;
    font-style: normal;
}

:root {
	--violet: #9789f9;
	--orange: #fd8d7b;
	--blue: #6fcffb;
	--text: 'Roboto', sans-serif;
	--title: 'BebasNeue', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
	width: 100%;
}

/* Main Styles */

